* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 90%;
  margin: auto;
}

.landing, .about, .menu, .contact {
  height: 100vh;
}

header {
  height: 65px;
  background-color: white;
  position: fixed;
  top: 0%;
  width: 90%;
  margin: auto;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav ul {
  list-style: none;
}

header .nav ul li {
  padding: 40px 10px 0 10px;
  display: inline-block;
}

header .nav ul li a {
  text-decoration: none;
  color: #00c3ff;
}

header .nav ul li a:hover {
  color: pink;
  border-bottom: pink 3px solid;
}

header .nav img {
  width: 75px;
  height: auto;
}

.border {
  background-color: white;
  color: #007b91;
  text-align: center;
}

.landing {
  background: url(../images/stock4.jpg) center center;
}

.landing .text {
  margin: auto;
  width: 35vw;
  padding-top: 35vh;
  color: wheat;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.landing .text h1 {
  text-align: center;
  font-size: 65px;
}

.landing .text p {
  text-align: center;
  font-size: 30px;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: #333;
  background-color: #f2f2f2;
}

.about img {
  width: 100%;
  height: 100vh;
}

.about .rightside {
  width: 65%;
  margin-left: 10%;
  margin-top: 20%;
}

.about .rightside h1 {
  padding-bottom: 60px;
}

.menu {
  background: url(../images/stock2.jpg) center center;
  display: -ms-grid;
  display: grid;
  grid-template: 1fr;
}

.menu img {
  margin: auto;
  height: 100vh;
  width: auto;
}

.contact {
  background-color: #333;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  color: wheat;
}

.contact .text {
  width: 70%;
  margin: 250px auto 0 auto;
  overflow: hidden;
}

.contact .text h2 {
  padding-bottom: 20px;
  text-align: center;
}

.contact .text table {
  padding: 0;
  padding-top: 50px;
  margin: auto;
}

.contact .text table th {
  text-align: left;
}

.contact .text table th:nth-child(2) {
  text-align: right;
}

.contact .icons {
  padding-top: 170px;
}

.contact .icons .icon {
  padding-top: 20px;
  text-align: center;
}

.contact .icons .icon .fas {
  font-size: 50px;
  padding-bottom: 15px;
}

footer {
  padding-top: 20px;
  text-align: center;
  height: 40px;
  position: fixed;
  bottom: 0%;
  width: 90%;
  background-color: white;
}

@media (max-width: 768px) {
  .about {
    height: 200vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about .rightside {
    margin-top: 0;
  }
  .contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .text {
    margin: 100px auto 0 auto;
  }
  .contact .icons {
    text-align: left;
    padding-top: 0;
    padding-bottom: 50px;
  }
  .contact .icons .icon {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}
/*# sourceMappingURL=style.css.map */